/*  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

span.concept-definition {
    font-weight: 800;
    font-style: italic;
}

span.concept-reference {
    font-weight: 400;
    font-style: italic;
}