/*  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: royalblue;
}

span.concept-definition {
    font-weight: 700;
    color: lightseagreen;
}

span.concept-reference {
    font-weight: 300;
    color: lightseagreen;
}