<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <header class="page-header" role="banner">
    <h1 class="project-name">{{ site.title }}</h1>
  </header>
  <body>
      {{ content }}
  </body>
  <footer class="page-footer">
    <span class="page-footer-owner">
        <a href="{{ site.github.repository_url }}">{{ site.title }}</a> is maintained by
        <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
    </span>
  </footer>
</html>